.debug .ms_bg_header{
    height: 80px;
    background-color: #2e4050;
}

    .ms_bg_yellow{
        background-color: yellow;
        height: 60px;
    }

    .ms_bg_green{
        background-color: green;
        height: 60px;
    }

.ms_bg_jumbotron{
    background-color: #00bb9c;
}

.container_img_avatar{
    width: 200px;
}

#about.ms_background{
    background-color: #00bb9c;
}

.ms_bar_black{
    height: 2px;
    width: 60px;
    background-color: black;
    margin: 10px;
}

.ms_bar_white{
    height: 2px;
    width: 60px;
    background-color: white;
    margin: 10px;
}

.form-control.ms_input_box{
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control.ms_height_textarea{
    height: 200px;
}

.btn.ms_btn_send{
    color: #fff;
    background-color: #00bb9c;
    border-color: #00bb9c;
}

.btn.ms_btn_send:hover{
    color: #fff;
    background-color: #009c82;
    border-color: #009c82;
}

.ms_bg_footer_sup{
    background-color: #3a556b;
}

.ms_bg_footer_inf{
    background-color: #2e4050;
}

.ms_c_author{
    color: #00bb9c;
}