.debug header .ms_background{
    height: 80px;
    background-color: rgba(255, 0, 0, 0.7);
}

.debug .jumbotron .ms_background{
    height: 400px;
    background-color: rgba(0, 255, 0, 0.5);
}

.debug main .sect1.ms_background {
    height: 1000px;
    background-color: rgba(0, 0, 255, 0.5);
}

    .debug main .ms_background_interno {
        height: 200px;
        background-color: #c04b63;
    }

.debug main .sect2.ms_background{
    height: 600px;
    background-color: rgba(125, 0, 0, 0.5);
}

.debug main .sect3.ms_background{
    height: 500px;
    background-color: rgba(0, 125, 0, 0.5);
}

.debug footer .ms_background-1{
    height: 300px;
    background-color: rgba(255, 255, 0, 0.5);
}

.debug footer .ms_background-2{
    height: 100px;
    background-color: rgba(125, 125, 0, 0.5);
}