.ms_bg_header{
    background-color: #2e4050;
}

.ms_text_white{
    display: block;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.ms_text_white:hover{
    color: #00bb9c;
}

.ms_bg_jumbotron{
    background-color: #00bb9c;
}

.container_img_avatar{
    width: 200px;
}

.ms_contenitore{
    position: relative;
}

.ms_layover{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255,0, 0.5);
}

.ms_contenitore:hover .ms_layover{
    display: inline-block;
}

.ms_layover > i{
    position: absolute;
    font-size: 100px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#about.ms_background{
    background-color: #00bb9c;
}

.ms_btn_download{
    color: #fff;
    border: 1px solid #fff;
}

.ms_btn_download:hover{
    color: #000;
    background-color: #fff;
    border-color: #fff;  
    transition: 0.5s ease-in;
}

.ms_bar_black{
    height: 2px;
    width: 60px;
    background-color: black;
    margin: 10px;
}

.ms_bar_white{
    height: 2px;
    width: 60px;
    background-color: white;
    margin: 10px;
}

.ms_input_box{
    border-top: none;
    border-left: none;
    border-right: none;
}

.ms_btn_send{
    color: #fff;
    background-color: #00bb9c;
    border-color: #00bb9c;
}

.btn.ms_btn_send:hover{
    color: #fff;
    background-color: #009c82;
    border-color: #009c82;
    transition: 0.5s ease-in;
}

.ms_bg_footer_sup{
    background-color: #3a556b;
}

.ms_bg_footer_inf{
    background-color: #2e4050;
}

.ms_c_author{
    color: #00bb9c;
}

.ms_c_author:hover{
    color: #00bb9c;
    text-decoration: underline;
    cursor: pointer;
}